.ima {
    width: 75px;
    height: 50px;
    margin: 10px;
    border: 2px solid blueviolet;
}

.ima:hover {
    width: 10%;
    height: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modalContent {
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    background: white;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    
}

.close:hover {
    color: red;
}

.modalContent img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}